@import url("./core/reset.css");
@import url("./core/variables.css");

/* Text */
@import url("./core/text/text.css");

/* Layout */
@import url("./core/layout/body.css");
@import url("./core/layout/header.css");
@import url("./core/layout/main.css");

/* Input */
@import url("./core/input/button.css");
@import url("./core/input/checkbox.css");
@import url("./core/input/select.css");

/* Menu */
@import url("./core/menu/menu.css");

@import url("./core/toast.css");
@import url("./core/icon.css");
@import url("./core/code.css");
@import url("./core/drawer.css");
@import url("./core/utils.css");
@import url("./core/separator.css");


.move-button {
  --button-size: calc((100% - 94svh) / 2);
  width: var(--button-size);
  height: 100%;
  font-size: 10svh;
  background-color: var(--color--bg-20);
  border: none;

  img {
    transform: scale(1.5);
  }

  &:active {
    img { filter: hue-rotate(180deg); }
  }
}

.canevas-container {
  --cell-size: calc(94svh / 11);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-image: url('../medias/images/gif2.gif');
  background-position-y: calc(3 * var(--cell-size));
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* filter: hue-rotate(-20deg) brightness(.5); */

  .canevas-line {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: cyan; */
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);

    .canevas-cell {
      min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
      min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
      /* background-color: rgb(88, 187, 212); */

      &.full {
        background-image: url('../medias/images/island-01.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &.step1 {
    filter: hue-rotate(-4deg) brightness(.9);
    
    .canevas-cell.full {
      filter: saturate(.9) brightness(.9);
    }
  }
  &.step2 {
    filter: hue-rotate(-8deg) brightness(.8);
    .canevas-cell.full {
      filter: saturate(.8) brightness(.9);
    }
  }
  &.step3 {
    filter: hue-rotate(-12deg) brightness(.7);
    .canevas-cell.full {
      filter: saturate(.7) brightness(.8);
    }
  }
  &.step4 {
    filter: hue-rotate(-16deg) brightness(.6);
    .canevas-cell.full {
      filter: saturate(.6) brightness(.8);
    }
  }
  &.step5 {
    filter: hue-rotate(-20deg) brightness(.5);
    .canevas-cell.full {
      filter: saturate(.5) brightness(.7);
    }
  }
}

.player {
  --cell-size: calc(94svh / 11);
  --button-size: calc((100% - 94svh) / 2);

  position: absolute;
  top: calc(8 * var(--cell-size));
  left: calc(var(--button-size) + (5 * var(--cell-size)));
  min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
  min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
  /* background-color: greenyellow; */
  background-image: url('../medias/images/player4.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.crashed {
    background-image: url('../medias/images/boom.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2);
  }
}

.game-over-container {
  position: absolute;
  top: 0;
  left: calc((100% - 94svh) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-color: rgba(0, 0, 0, 0.66);
  gap: 5svh;

  .game-over {
    font-size: 10svh;
    color: white;
  }

  .game-over-score {
    font-size: 6svh;
    color: white;
  }

  .lzr-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }
  }

  &.hidden {
    display: none;
  }
}

.start-container {
  position: absolute;
  top: 0;
  left: calc((100% - 94svh) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-color: rgba(0, 0, 0, 0.66);
  gap: 5svh;

  .start {
    font-size: 10svh;
    color: white;
  }

  .start-score {
    font-size: 6svh;
    color: white;
  }

  .lzr-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }
  }

  &.hidden {
    display: none;
  }
}