@import url("./core/reset.css");
@import url("./core/variables.css");

/* Text */
@import url("./core/text/text.css");

/* Layout */
@import url("./core/layout/body.css");
@import url("./core/layout/header.css");
@import url("./core/layout/main.css");

/* Input */
@import url("./core/input/button.css");
@import url("./core/input/checkbox.css");
@import url("./core/input/select.css");

/* Menu */
@import url("./core/menu/menu.css");

@import url("./core/toast.css");
@import url("./core/icon.css");
@import url("./core/code.css");
@import url("./core/drawer.css");
@import url("./core/utils.css");
@import url("./core/separator.css");


.move-button {
  --button-size: calc((100% - 94svh) / 2);
  width: var(--button-size);
  height: 100%;
  font-size: 10svh;
  background-color: var(--color--bg-20);
  border: none;

  img {
    transform: scale(1.5);
  }

  &:active {
    img { filter: hue-rotate(180deg); }
  }
}

.canevas-container {
  --cell-size: calc(94svh / 11);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-color: black;
  /* background-repeat: no-repeat; */
  /* filter: hue-rotate(-20deg) brightness(.5); */

  &.step-0 {
    .canevas-bg { filter: hue-rotate(-15deg); }
    .collidable { /* filter: hue-rotate(-15deg) brightness(.9) saturate(.9); */ }
  }
  &.step-1 {
    .canevas-bg { filter: hue-rotate(0deg); }
    .collidable { /* filter: hue-rotate(-15deg) brightness(.9) saturate(.9); */ }
  }
  &.step-2 {
    .canevas-bg { filter: hue-rotate(15deg); }
    .collidable { filter: hue-rotate(-15deg) brightness(.9) saturate(.9); }
  }
  &.step-3 {
    .canevas-bg { filter: hue-rotate(30deg) brightness(.9); }
    .collidable { filter: hue-rotate(-30deg) brightness(.9) saturate(.9); }
  }
  &.step-4 {
    .canevas-bg { filter: hue-rotate(45deg) brightness(.8); }
    .collidable { filter: hue-rotate(-45deg) brightness(.8) saturate(.8); }
  }
  &.step-5 {
    .canevas-bg { filter: hue-rotate(60deg) brightness(.7); opacity: .75; }
    .collidable { filter: hue-rotate(-60deg) brightness(.7) saturate(.5); }
  }
  &.step-6 {
    .canevas-bg { filter: hue-rotate(60deg) brightness(.6); opacity: .5; }
    .collidable { filter: hue-rotate(-60deg) brightness(.3) saturate(.5); }
  }
  &.step-7 {
    .canevas-bg { filter: hue-rotate(65deg) brightness(.7); opacity: .75; }
    .collidable { filter: hue-rotate(-65deg) brightness(.2) saturate(.2); }
  }
  &.step-8 {
    .canevas-bg { filter: hue-rotate(70deg) brightness(.9); opacity: 1; }
    .collidable { filter: hue-rotate(-70deg) brightness(.1) saturate(0); }
  }

  .canevas-bg {
    position: absolute;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: 100%; height: 100%; max-height: 100%;
    background-image: url('../medias/images/gif2.gif');
    background-position-y: calc(3 * var(--cell-size));
    background-size: cover;
    z-index: 10;
  }

  .canevas-lines {
    position: absolute;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: 100%; height: 100%; max-height: 100%;
    z-index: 15;

    .canevas-line {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /* background-color: cyan; */
      min-width: 100%; width: 100%; max-width: 100%;
      min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
  
      .canevas-cell {
        min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
        min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
  
        &.collidable {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          &.rock-1 { background-image: url('../medias/images/island-01.png'); }
          &.rock-2 { background-image: url('../medias/images/island-02.png'); }
          &.rock-3 { background-image: url('../medias/images/island-03.png'); }
          &.rock-4 { background-image: url('../medias/images/island-04.png'); }
        }

        &.bonus {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          &.bonus-1 {
            background-image: url('../medias/images/bonus.png');
          }
          &.bonus-2 {
            background-image: url('../medias/images/bonus.png');
            filter: hue-rotate(120deg);
          }
          &.bonus-3 {
            background-image: url('../medias/images/bonus.png');
            filter: hue-rotate(240deg);
          }
        }

        
      }
    }
  }
}

.use-bonus-container {
  --cell-size: calc(94svh / 11);
  --button-size: calc((100% - 94svh) / 2);

  position: absolute;
  top: 0;
  left: var(--button-size);
  /* background-color: rgba(255, 0, 255, 0.472); */
  z-index: 35;

  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: calc(var(--cell-size) / 2);

  .current-bonus {
    min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
    min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
    background-color: rgba(0, 0, 0, 0.421);
    transform: scale(1.5);
    border: 1px solid white;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.bonus-1 {
      background-image: url('../medias/images/bonus.png');
    }
    &.bonus-2 {
      background-image: url('../medias/images/bonus.png');
      filter: hue-rotate(120deg);
    }
    &.bonus-3 {
      background-image: url('../medias/images/bonus.png');
      filter: hue-rotate(240deg);
    }
  }
}

.player {
  --cell-size: calc(94svh / 11);
  --button-size: calc((100% - 94svh) / 2);

  position: absolute;
  top: calc(8 * var(--cell-size));
  left: calc(var(--button-size) + (5 * var(--cell-size)));
  min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
  min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
  /* background-color: greenyellow; */
  background-image: url('../medias/images/player4.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 30;

  &.crashed {
    background-image: url('../medias/images/boom.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2);
  }
}

.game-over-container {
  position: absolute;
  top: 0;
  left: calc((100% - 94svh) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-color: rgba(0, 0, 0, 0.66);
  gap: 5svh;
  z-index: 40;

  .game-over {
    font-size: 10svh;
    color: white;
  }

  .game-over-score {
    font-size: 6svh;
    color: white;
  }

  .lzr-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }
  }

  &.hidden {
    display: none;
  }
}

.start-container {
  position: absolute;
  top: 0;
  left: calc((100% - 94svh) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 94svh; width: 94svh; max-width: 94svh;
  min-height: 94svh; height: 94svh; max-height: 94svh;
  background-color: rgba(0, 0, 0, 0.66);
  gap: 5svh;
  z-index: 40;

  .start {
    font-size: 10svh;
    color: white;
  }

  .start-score {
    font-size: 6svh;
    color: white;
  }

  .lzr-button {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }

    &:active {
      background-color: transparent;
      border: none;

      img { filter: hue-rotate(180deg); }
    }
  }

  &.hidden {
    display: none;
  }
}